.application {
  cursor: pointer;
  background-color: var(--bg-color-3);
  border: solid var(--bg-color-1) 2px;
  padding: 0.3rem;
  border-radius: var(--border-radius);
  margin: 0.5rem 0.5rem;

  .header {
    display: flex;
    align-items: center;

    span {
      opacity: 0.5;
    }
    .icon {
      height: 1.5rem;
      margin-right: 0.6rem;
      opacity: 0.5;
    }
  }
}

.application.isSelected {
  border: solid var(--accent-color-1) 2px;

  .header
    span {
      opacity: 1;
    }
    .icon {
      opacity: 1;
    }
}
