.tab {
  margin: 0.2rem;
  padding: 0.3rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-color-5);
  height: 1rem;
  display: flex;
  opacity: 0.5;

  .icon {
    fill: var(--border-color);
    flex-shrink: 0;
    margin-left: 0.1rem;
  }

  img {
    margin-right: 0.7rem;
  }

  .favIconPlaceholder {
    width: 1rem;
    margin-right: 0.7rem;
  }

  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.isSelected {
  opacity: 1;
}
