button {
  color: var(--text-color);
  background: none;
  padding: 0.5rem 0.5rem;
  border-radius: var(--border-radius);
  border: solid var(--accent-color-1) 0.15rem;
  appearance: none;
  transition: all ease-in 0.1s;
  cursor: pointer;

  .children {
    display: flex;

    svg {
      width: 1rem;
      fill: var(--border-color);
      transition: all ease-in 0.1s;
    }
  }
}

button.filled {
  background-color: var(--accent-color-1);
}

button:hover {
  transform: scale(1.05);
}

button:disabled {
  border-color: var(--bg-color-4);
  opacity: 0.7;
  cursor: default;
  transform: scale(1);
}
