.file {
  margin: 0.2rem;
  padding: 0.3rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-color-4);
  overflow: hidden;

  span {
    opacity: 0.5;
  }
}

.isSelected {
  background-color: var(--bg-color-5);

  span {
    opacity: 1;
  }
}
