.file {
  border: solid var(--border-color) 1px;
  padding: 0.3rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-light);
}

.isSelected {
  background-color: var(--bg-lighter);
}
