.postponeButton {
  color: var(--text-color);
  border: solid var(--accent-color-2) 2px;
  border-radius: var(--border-radius);
  background: none;
  cursor: pointer;
  transition: all ease-in 0.1s;
  padding-left: 0.3rem;

  &:hover {
    transform: scale(1.05);
  }

  option {
    background-color: var(--overlay-color);
  }
}
