.header {
  .titleContainer {
    background-color: var(--bg-color-2);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: var(--border-radius);
  }

  .timestamps {
    display: flex;

    .timestamp {
      padding-top: 0.1rem;
      padding-left: 1rem;
      font-size: small;
      display: flex;
      align-items: center;

      .icon {
        height: 1rem;
        margin-right: 0.2rem;
      }
    }
  }
}
