.previewContainer {
  display: flex;
  align-items: center;
  border: solid var(--border-color) 1px;
  border-radius: var(--border-radius);
  padding: 0.2rem 0.4rem 0.2rem 0.2rem;
  font-size: small;

  .appIcon {
    height: 1.7rem;
    margin-right: 0.5rem;
  }

  .file {
    cursor: pointer;
  }
}
