.container {
  display: flex;
  align-items: center;
  font-size: x-small;
  max-width: 10rem;
  margin: 0.1rem;
  background-color: var(--bg-color-4);
  border-radius: var(--border-radius);
  padding: 0.2rem;
  cursor: pointer;

  .tabIcon {
    height: 1rem;
    margin-right: 0.2rem;
  }

  .eyeIcon {
    height: 1rem;
    flex-shrink: 0;
    fill: var(--border-color);
  }

  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

