.previewContainer {
  display: flex;
  align-items: center;
  border: solid var(--border-color) 1px;
  border-radius: var(--border-radius);
  padding: 0.2rem;

  .browserIcon {
    height: 1.7rem;
    margin-right: 0.5rem;
  }

  .tabIcon {
    height: 1rem;
    margin: 0.1rem;
  }

  .activeTab {
    display: flex;
    align-items: center;
    font-size: x-small;
    max-width: 10rem;
    margin-right: 0.8rem;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

