.title {
  margin-bottom: 0.4rem;
}

fieldset {
  font-size: small;
  .option {
    display: flex;
    align-items: center;

    input {
      margin-left: 0;
      margin-right: 1rem;
      height: 1rem;
      width: 1rem;
    }

    .otherInput {
      width: 10rem;
      margin-left: 1rem;
      font-size: small;
      background-color: var(--bg-color-2);
      border-radius: var(--border-radius);
    }

    input.subOption {
      margin-left: 2rem;
    }
  }
}

