.header {
  display: flex;
  align-items: center;

  .postponeContainer {
    margin-left: 1rem;
    height: 2rem;
    display: flex
  }
}

.introText {
  margin-top: 0;
}

.section {
  margin-bottom: 3rem;
  padding: 0.5rem;
  border: solid 2px var(--bg-color-3);

  h3 {
    margin-top: 0;
  }

  &.noMarginTop {
    h4 {
      margin-top: 0;
    }
  }
}

.saveContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
