.headerContainer {
  width: 90%;
}

.buttonContainer {
  margin-top: 1rem;
  display: flex;

  button {
    margin-right: 0.4rem;
  }

  select {
    margin-right: 0.4rem;
  }

  .deleteButton {
    background-color: red;
    border-color: red;
  }

  .mergeButton {
    border-radius: var(--border-radius);
    border: solid var(--accent-color-1) 2px;
    cursor: pointer;
    padding-left: 0.3rem;
    transition: all ease-in 0.1s;
  }

  .mergeButton:hover {
    transform: scale(1.05);
  }
}

.loadingContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
  width: 50%;


  span {
    white-space: nowrap;
  }
}
