.header {
  display: flex;
  align-items: center;

  .snapshotHeaderContainer {
    width: 85%;
  }

  .icon {
    margin-left: 1rem;
    height: 1rem;
    fill: var(--border-color);
  }

  .clickable {
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      transition: all ease-in 0.1s;
      cursor: pointer;
    }
  }
}

.buttonContainer {
  margin-top: 1rem;
  display: flex;

  button {
    margin-right: 0.4rem;
  }

  select {
    margin-right: 0.4rem;
  }

  .mergeButton {
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: solid var(--accent-color-1) 2px;
    background: none;
    cursor: pointer;
    padding-left: 0.3rem;
    transition: all ease-in 0.1s;
    width: 8.5rem;

    option {
      background-color: var(--overlay-color);
    }
  }

  .mergeButton:disabled {
    border-color: var(--bg-color-4);
    cursor: default;
  }

  .mergeButton:hover {
    transform: scale(1.05);

    &:disabled {
      transform: scale(1);
    }
  }
}
