.headerContainer {
  width: 25rem;
}

.mainContainer {
  display: flex;
  justify-content: space-between;

  .leftContainer {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
  }

  .rightContainer {
    margin-left: 2rem;
    border: solid var(--border-color) 1px;
    border-radius: var(--border-radius);
    font-size: small;
    overflow-y: scroll;
    max-height: 39rem;
    width: 100%;

    .header {
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      border-bottom: var(--border-color) solid 1px;
      font-weight: 700;
    }
  }
}

.buttonContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 0.5rem;
  }
}

