.titleContainer {
  background-color: var(--bg-medium);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: var(--border-radius);
}

input {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: x-large;
}
