/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 @import url("https://fonts.googleapis.com/css?family=Montserrat");

 :root {
  --accent-color: #08C0DD;
  --bg-dark: #242424;
  --bg-medium: #777777;
  --bg-light: #8B8B8B;
  --bg-lighter: #B1B1B1;
  --border-color: #FFFFFF;
  --text-color: #FFFFFF;

  --border-radius: 5px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--bg-dark);
  color: var(--text-color);
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

